<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>编辑留言</title>
</head>
<body>
<!-- <form action="/message/edit" method="post"> -->
  <p>用户名: <input type="text" name="username" disabled value="<%= docs.username %>"></p><br>
  <p>留言:   <textarea name="message" required ><%= docs.message %></textarea></p><br>
  <button>确认修改</button><br>
<!-- </form> -->
</body>
<script src="/js/jquery.min.js"></script>
<script>
$(function(){
  $('button').on('click',function(){
    // console.log($('textarea[name=message]').val());
    $.ajax({
      url:'/message/modify',
      method:'post',
      data:{
        message:$('textarea[name=message]').val()
      },
      success:function(reponse){
        location.href='/message'
      }
    })
  })
})

</script>
</html>