<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>首页——在线留言</title>
  <link rel="stylesheet" href="/css/bootstrap.css">
  <style>
    body{
      width: 80%;
      margin: 0 auto;
    }
  </style>
</head>
<body>
  <!-- 表单提交数据  -->
<form action="/message" method="post">
  <p>用户名: <input type="text" name="username"></p><br>
  <p>留言:   <textarea name="message"></textarea></p><br>
  <input type="submit"><br>
</form>
  <!-- 展示留言的区域 -->
  <!-- 分页  -->
  <% for(var i=0;i< docs.length;i++){ %>
  <p id="username"><%= docs[i].username%></p>
  <p id="message"><%= docs[i].message%></p>
  <p><%= docs[i].time%></p>
  <button id="edit" onclick="edit(this)">编辑</button>
  <button id="delete">删除</button>
  <% } %>
  <!--  <a href="/message/edit">编辑</a>
  <a href="/message/delete">删除</a> -->
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.js"></script>
<script>
function edit(i){
  $.ajax({
    url:'/message/edit',
    data:{
      username:$(i).prev().find('#username').html(),
      message:$(i).prev().find('#message').html()
    },
    method:'post',
    success:function(response){
      location.href='message/edit'
    }
  })
}


</script>
</body>
</html>